*{
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(117, 96, 136);
    margin: 0;
    padding: 20px;
}


main{
    background-color: white;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.573);
}

img.lado {
    float: right;
    width: 300px;
    max-width: 40%;
    height: auto;
    margin-left: 20px;
    margin-bottom: 10px;
}

article {
    overflow: auto;
}

@media (max-width: 600px) {
    body {
        padding: 15px;
    }
    h1 {
        font-size: 28px;
    }

    img.lado {
        float: none;
        display: block;
        width: 90%;
        max-width: 300px;
        margin: 10px auto;
    }
}